[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = "*"
pandas = "*"
sklearn = "*"
torchvision = "*"
tqdm = "*"
pytorch-pretrained-vit = "*"
xlrd = "*"
openpyxl = "*"

[dev-packages]
rope = "*"
mypy = "*"

[requires]
python_version = "3.8"
